<form (ngSubmit)="f.form.valid && agregarValor()" #f="ngForm">
  <div class="agregar">
    <div class="agregar_contenedor">
      <select
        ngClass="{redfocus : tipo === 'egresoOperacion'}"
        (change)="tipoOperacion($event)"
        class="agregar_tipo"
      >
        <option value="ingresoOperacion" selected>+</option>
        <option value="egresoOperacion">-</option>
      </select>
      <input
        ngClass="{redfocus : tipo === 'egresoOperacion'}"
        type="text"
        name="descripcionInput"
        [(ngModel)]="descripcionInput"
        required
        class="agregar_descripcion"
        placeholder="Agregar Descripción"
      />
      <input
        ngClass="{redfocus : tipo === 'egresoOperacion'}"
        name="valorInput"
        [(ngModel)]="valorInput"
        required
        type="number"
        class="agregar_valor"
        placeholder="Valor"
      />
      <button type="submit" class="agregar_btn">
        <i
          ngClass="{red : tipo === 'egresoOperacion'}"
          class="ion-ios-checkmark-outline"
        ></i>
      </button>
    </div>
  </div>
</form>
